 {% extends 'main.html' %}

{%block content%}

{% if page == 'login'%}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        <label>username:</lable>
            <input type="text" name="username" placeholder="Enter usernanme">

            <label>Password:</lable>
                <input type="password" name="password" name="Enter password">

                <input type="submit" value="login"/>

            </form>
           
</div>
<p>havent signed up yet?</p>
<a href="{% url 'register' %}">sign up</a> 

{% else %}

<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
                <input type="submit" value="register"/>
    </form>

    <p>already signed up yet?</p>
    <a href="{% url 'login' %}">login page</a>
</div>

{% endif %}
{%endblock content%} 